<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import dayjs from "dayjs"
import duration from "dayjs/plugin/duration"
import utc from "dayjs/plugin/utc"
import pluralize from "pluralize"
import { ref } from "vue"

dayjs.extend(duration)
dayjs.extend(utc)
const props = defineProps({
    skill: {
        type: Object,
        default: null,
    },
})

const formattedTime = (remaining) => {
    let hoursFmt = `${remaining.hours()}`.padStart(2, "0")
    let minutesFmt = `${remaining.minutes()}`.padStart(2, "0")
    let secondsFmt = `${remaining.seconds()}`.padStart(2, "0")
    let daysFmt = Math.floor(remaining.asDays()).toFixed(0)
    let daysLeft = pluralize("day", daysFmt)
    return `${daysFmt} ${daysLeft} ${hoursFmt}:${minutesFmt}:${secondsFmt}`
}

let timeRemainingFmt = ref("")
let finishTimestamp
if (props.skill) {
    finishTimestamp = dayjs.utc(props.skill.finishDatetime)
    timeRemainingFmt.value = formattedTime(
        dayjs.duration(finishTimestamp.diff(dayjs.utc())),
    )

    const x = setInterval(() => {
        let timeToFinish = finishTimestamp.diff(dayjs.utc())
        timeRemainingFmt.value = formattedTime(dayjs.duration(timeToFinish))

        if (timeToFinish < 0) {
            clearInterval(x)
            location.reload()
        }
    }, 1000)
}
</script>
<template>
    <dl
        class="mt-10 space-y-10 text-center sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10 sm:space-y-0 md:grid-cols-1 lg:col-span-2 lg:mt-0 lg:text-left"
    >
        <div>
            <dt class="text-xl text-teal-400">Currently Training</dt>
            <dd class="mt-2 text-base">
                <div v-if="skill">
                    {{ skill.skillName }} (Level {{ skill.skillLevel }}) -
                    {{ skill.completedPct.toFixed(2) }}%
                </div>
                <div v-else>N/A</div>
            </dd>
        </div>
        <div>
            <dt class="text-xl text-teal-400">Time Remaining</dt>
            <dd class="mt-2 text-base">
                <div v-if="skill">
                    {{ timeRemainingFmt }}
                    <tippy>
                        <FontAwesomeIcon
                            icon="circle-info"
                            class="cursor-help text-teal-400"
                        />
                        <template #content>
                            <div
                                class="rounded-full bg-zinc-800 p-2 shadow-lg ring-2 ring-teal-400"
                            >
                                {{ skill.finishDatetime }} EVE
                            </div>
                        </template>
                    </tippy>
                </div>
                <div v-else>N/A</div>
            </dd>
        </div>
    </dl>
</template>
