<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"

const props = defineProps({
    summary: Object,
})

const stats = [
    {
        name: "Skills Injected",
        value: props.summary.numSkills,
    },
    {
        name: "Skill Points",
        value: props.summary.totalSp,
    },
    {
        name: "Queued Skills",
        value: props.summary.skillsInQueueCount,
        extra: props.summary.skillQueue,
    },
    {
        name: "Queue Finishes",
        value: props.summary.timeRemaining ?? "Queue Paused",
        extra: props.summary.totalTime,
    },
]
</script>
<template>
    <dl
        class="mt-10 space-y-10 text-center sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10 sm:space-y-0 lg:col-span-2 lg:mt-0 lg:text-left"
    >
        <div
            v-for="stat in stats"
            :key="stats.name"
        >
            <dt class="text-xl text-teal-400">
                {{ stat.name }}
            </dt>
            <dd class="mt-2 text-base">
                {{ stat.value }}
                <tippy v-if="stat.extra">
                    <FontAwesomeIcon
                        icon="circle-info"
                        class="cursor-help text-teal-400"
                    />
                    <template #content>
                        <div
                            class="overflow-auto rounded-lg bg-zinc-800 p-2 shadow-lg ring-2 ring-teal-400"
                            v-html="stat.extra"
                        ></div>
                    </template>
                </tippy>
            </dd>
        </div>
    </dl>
</template>
