<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import Skill from "/resources/js/Components/Skills/Skill.vue"

const { groupName, skills, icons } = defineProps({
    groupName: String,
    skills: Object,
    icons: {
        type: [String, Object],
        default: null,
    },
})

const [primaryIcon, secondaryIcon] = icons ?? []
</script>
<template>
    <div class="m-1 rounded-md bg-zinc-800 p-2">
        <div class="text-center">
            <FontAwesomeIcon
                v-if="primaryIcon"
                :icon="primaryIcon"
                fixed-width
            />
            <FontAwesomeIcon
                v-if="secondaryIcon"
                :icon="secondaryIcon"
                transform="shrink-7 left-8 up-4"
            />
            <div
                class="text-xl capitalize"
                :class="{
                    'ml-1': primaryIcon && !secondaryIcon,
                    '-ml-2': secondaryIcon,
                }"
            >
                {{ groupName }}
            </div>
        </div>
        <dl
            v-for="skill in skills"
            :key="`${groupName}-${skill.skillName}`"
        >
            <Skill
                :skill-name="skill.skillName"
                :skill-level="skill.skillLevel"
            />
        </dl>
    </div>
</template>
