<script setup>
defineProps({
    skillLevel: {
        type: Number,
        default: -1,
    },
    skillName: String,
})

const skillColor = (level) => {
    switch (level) {
        case 0:
            return "bg-zinc-500"
        case 1:
            return "bg-red-600"
        case 2:
            return "bg-amber-600"
        case 3:
            return "bg-yellow-300"
        case 4:
            return "bg-lime-600"
        case 5:
            return "bg-green-700"
    }
}
</script>

<template>
    <div class="flex-col p-1">
        <dt>{{ skillName }}</dt>
        <dd class="flex gap-1 content-evenly">
            <div
                v-for="n in skillLevel"
                :key="n"
                class="flex-grow -skew-x-16 h-4"
                :class="skillColor(skillLevel)"
            />
            <div
                v-for="n in 5 - skillLevel"
                :key="n"
                class="flex-grow -skew-x-16 h-4 bg-zinc-500"
            />
        </dd>
    </div>
</template>
