<script setup>
import Section from "/resources/js/Components/Section.vue"
import SkillGroupSummary from "/resources/js/Components/Skills/SkillGroupSummary.vue"

const props = defineProps({
    skills: Object,
    sections: Object,
    stats: Object,
})

const [ships, weapons, tank, misc] = props.sections
</script>
<template>
    <div
        class="grid w-full gap-y-10 px-4 sm:px-6 md:gap-x-4 lg:grid-cols-2 xl:grid-cols-3"
    >
        <SkillGroupSummary
            class="row-span-3"
            :skills="skills"
            :skill-groups="stats"
        />
        <Section :section="ships" />
        <Section :section="weapons" />
        <Section
            :section="tank"
            single-card
        />
        <Section
            :section="misc"
            single-card
        />
    </div>
</template>
