<script setup>
import { Disclosure, DisclosureButton, DisclosurePanel } from "@headlessui/vue"
import Card from "/resources/js/Components/Card.vue"
import SkillGroup from "/resources/js/Components/Skills/SkillGroup.vue"

defineProps({
    // All Skills. Array of group name => [ skillName => level ]
    skills: Object,
    // Trained Skills. Contains details of skills in group and SP
    skillGroups: Object,
})

const transitionClass = "transition duration-500 ease-out"
const open = "scale-100 opacity-100"
const closed = "scale-95 opacity-0"
</script>

<template>
    <Card
        heading="Summary"
        :icons="['list-ol']"
        content-class="p-4"
    >
        <ul class="-mx-6 -mb-6 flex flex-col">
            <li
                v-for="(group, idx) in skillGroups"
                :key="idx"
            >
                <Disclosure>
                    <div class="-mx-2">
                        <DisclosureButton
                            class="cursor-pointer text-left text-teal-400 underline"
                        >
                            {{ group.groupName }}
                        </DisclosureButton>
                        <div class="flex justify-between">
                            <div>
                                {{ group.trainedCount }}/{{ group.skillCount }}
                                Skills
                            </div>
                            <div>{{ group.spInGroup.toLocaleString() }} SP</div>
                        </div>
                    </div>
                    <transition
                        :enter-active-class="transitionClass"
                        :enter-from-class="closed"
                        :enter-to-class="open"
                        :leave-active-class="transitionClass"
                        :leave-from-class="open"
                        :leave-to-class="closed"
                    >
                        <DisclosurePanel class="-mx-4 my-2">
                            <SkillGroup
                                :group-name="group.groupName"
                                :skills="
                                    skills[group.groupName].skills.sort(
                                        (a, b) =>
                                            a.skillName.localeCompare(
                                                b.skillName,
                                            ),
                                    )
                                "
                            />
                        </DisclosurePanel>
                    </transition>
                </Disclosure>
            </li>
        </ul>
    </Card>
</template>
