<script setup>
import CardDeck from "/resources/js/Components/CardDeck.vue"
import LoginButton from "/resources/js/Components/LoginButton.vue"
import Banner from "/resources/js/Components/Shared/Banner.vue"
import Flash from "/resources/js/Components/Shared/Flash.vue"
import Foot from "/resources/js/Components/Shared/Foot.vue"

const props = defineProps({
    status: Object,
})

const cards = [
    {
        icons: ["user-astronaut"],
        heading: "Log In",
        content: [
            "Click the button below to authenticate with EVE.",
            "You may link additional characters to your account after logging in.",
            "Make sure to log in using the same character you first used, then link the others.",
        ].join(" "),
        action: LoginButton,
    },
    {
        icons: ["question"],
        heading: "What is this?",
        content: [
            "A web app to view your skills, grouped into useful categories.",
            "See where you have good coverage, and where you need to train your skills.",
        ].join(" "),
    },
]
</script>

<template>
    <div class="flex min-h-screen flex-col">
        <Flash />
        <Banner />
        <main class="shrink-0 grow">
            <CardDeck
                :cards="cards"
                :cols="2"
            />
        </main>
        <Foot />
    </div>
</template>
