@import 'tailwindcss';

@plugin '../../breakpointInspector.js';

@source '../js';
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-mono: TX-02, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@layer base {
    @font-face {
        font-family: 'TX-02';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/TX-02-Regular.woff2') format('woff2');
    }
}

body {
    font-family: var(--font-mono), var(--font-sans);
}
