<script setup>
defineProps({
    type: {
        type: String,
        default: "submit",
    },
})
</script>

<template>
    <button
        :type="type"
        class="focus:shadow-outline-zinc text-white inline-flex items-center rounded-md border border-transparent bg-zinc-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest transition duration-150 ease-in-out hover:bg-zinc-700 focus:border-zinc-900 focus:outline-hidden active:bg-zinc-900"
    >
        <slot />
    </button>
</template>
