<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"

const { icons } = defineProps({
    icons: Array,
    heading: {
        type: String,
        default: null,
    },
    // Either a string or a Vue Component
    content: {
        type: [String, Object],
        default: null,
    },
    contentClass: {
        type: String,
        default: "py-4",
    },
    // A Vue Component
    action: {
        type: Object,
        default: null,
    },
    cols: {
        type: Number,
        default: 1,
    },
})

const [primaryIcon, secondaryIcon] = icons ?? []
</script>

<template>
    <div
        class="rounded-md bg-zinc-700 shadow-xl"
        :class="`col-span-${cols}`"
    >
        <div class="relative p-6 md:p-8">
            <div
                v-if="icons || heading"
                class="absolute top-0 flex -translate-y-1/2 transform justify-between rounded-md bg-teal-600 p-2 shadow-lg"
            >
                <FontAwesomeIcon
                    v-if="primaryIcon"
                    :icon="primaryIcon"
                    size="2x"
                    class="text-white align-middle"
                    fixed-width
                />
                <FontAwesomeIcon
                    v-if="secondaryIcon"
                    :icon="secondaryIcon"
                    size="2x"
                    transform="shrink-7 left-8 up-6"
                    class="-me-4"
                />
                <h4
                    v-if="heading"
                    class="text-xl tracking-wide"
                >
                    {{ heading }}
                </h4>
            </div>
            <slot name="action" />
            <div :class="contentClass">
                <slot />
            </div>
            <component
                v-if="action"
                :is="action"
            />
        </div>
    </div>
</template>
