<script setup>
import Card from "/resources/js/Components/Card.vue"

defineProps({
    cards: Array,
    cols: {
        type: Number,
        default: 3,
    },
})
</script>

<template>
    <div class="relative z-10 -mt-32 max-w-7xl px-4 sm:px-6 lg:mx-auto lg:px-8">
        <div
            class="grid gap-y-14 md:gap-x-4 lg:gap-x-8 lg:gap-y-0"
            :class="{
                'lg:grid-cols-3': cols === 3,
                'lg:grid-cols-2': cols === 2,
            }"
        >
            <slot />
            <Card
                v-for="(card, idx) in cards"
                :key="idx"
                v-bind="card"
            >
                <template v-if="typeof card.content === 'object'">
                    <component
                        :is="card.content"
                        v-bind="card.props"
                    />
                </template>
                <template v-else>
                    {{ card.content }}
                </template>
            </Card>
        </div>
    </div>
</template>
