<script setup>
import { Link } from "@inertiajs/vue3"
import CurrentSkill from "/resources/js/Components/Skills/CurrentSkill.vue"
import SkillSummary from "/resources/js/Components/Skills/SkillSummary.vue"

defineProps({
    character: Object,
    summary: Object,
    skill: Object,
})
</script>

<template>
    <div class="-mt-4 flex flex-col items-center md:flex-row">
        <div class="flex grow flex-col items-center">
            <div class="w-40 shrink-0 p-4">
                <Link
                    :href="
                        route(
                            'characters.show',
                            character.attributes.character_id,
                        )
                    "
                >
                    <img
                        class="rounded-full"
                        :src="`https://images.evetech.net/characters/${character.attributes.character_id}/portrait?tenant=tranquility&size=128`"
                        :alt="character.attributes.character_name"
                        :height="150"
                        :width="150"
                    />
                </Link>
            </div>
            <div class="text-3xl">
                {{ character.attributes.character_name }}
            </div>
            <div>
                <a
                    :href="`https://zkillboard.com/character/${character.attributes.character_id}`"
                    target="_blank"
                    rel="noopener"
                    class="text-xl text-teal-400 underline hover:text-teal-100 hover:underline"
                    >zKillboard</a
                >
                |
                <a
                    :href="`https://evewho.com/character/${character.attributes.character_id}`"
                    target="_blank"
                    rel="noopener"
                    class="text-xl text-teal-400 underline hover:text-teal-100 hover:underline"
                    >EVEWho</a
                >
            </div>
        </div>
        <SkillSummary
            class="grow self-stretch lg:hidden"
            :summary="summary"
        />
        <CurrentSkill
            class="grow self-stretch lg:hidden"
            :skill="skill"
        />
    </div>
</template>
