<script setup>
import { computed } from "vue"

const emit = defineEmits(["update:checked"])

const props = defineProps({
    checked: {
        type: [Array, Boolean],
        required: true,
    },
    value: {
        default: null,
    },
})

const proxyChecked = computed({
    get() {
        return props.checked
    },

    set(val) {
        emit("update:checked", val)
    },
})
</script>

<template>
    <input
        type="checkbox"
        :value="value"
        v-model="proxyChecked"
        class="rounded-sm border-zinc-300 text-teal-600 shadow-xs focus:ring-teal-400"
    />
</template>
