<script setup>
import { Link } from "@inertiajs/vue3"

defineProps({
    href: {
        type: String,
        required: true,
    },
})
</script>

<template>
    <Link
        :href="href"
        class="block w-full px-4 py-2 text-start text-sm leading-5 text-zinc-700 transition duration-150 ease-in-out hover:bg-zinc-100 focus:bg-zinc-100 focus:outline-hidden"
    >
        <slot />
    </Link>
</template>
