<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"

defineProps({
    summary: Object,
})

const times = {
    userTime: "User",
    esiTime: "ESI",
    typeTime: "Cache",
    parseTime: "Parse",
}
</script>

<template>
    <div class="absolute right-0 top-0 flex items-center gap-2 p-4">
        <tippy>
            <FontAwesomeIcon
                class="cursor-help"
                icon="stopwatch"
                fixed-width
            />
            <template #content>
                <div
                    class="rounded-md bg-zinc-800 p-2 shadow-lg ring-2 ring-teal-400"
                >
                    <div class="flex justify-between">
                        <span>Page Timings</span>
                        <span>(msec)</span>
                    </div>
                    <div
                        v-for="(label, prop) in times"
                        class="flex justify-between"
                    >
                        <span>{{ label }}</span>
                        <span>{{ summary[prop] }}</span>
                    </div>
                </div>
            </template>
        </tippy>
    </div>
</template>
