<script setup>
import { onMounted, ref } from "vue"

defineProps(["modelValue"])

defineEmits(["update:modelValue"])

const input = ref(null)

onMounted(() => {
    if (input.value.hasAttribute("autofocus")) {
        input.value.focus()
    }
})
</script>

<template>
    <input
        class="rounded-md border-zinc-300 text-zinc-900 shadow-xs focus:border-teal-300 focus:ring-3 focus:ring-teal-200 focus:ring-opacity-50"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        ref="input"
    />
</template>
