<script setup>
defineProps(["value"])
</script>

<template>
    <label class="block text-sm font-medium text-teal-400">
        <span v-if="value">{{ value }}</span>
        <span v-else><slot /></span>
    </label>
</template>
