<script setup>
import { Link } from "@inertiajs/vue3"
import ssoPng from "/resources/images/sso_black.png"
import ssoWebp from "/resources/images/sso_black.webp"
</script>

<template>
    <div class="flex items-center justify-center">
        <Link :href="route('login')">
            <picture>
                <source
                    :srcset="ssoWebp"
                    type="image/webp"
                />
                <img
                    :src="ssoPng"
                    alt="Log in with EVE Online"
                    height="45"
                    width="270"
                />
            </picture>
        </Link>
    </div>
</template>
