<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue"
import { Link, usePage } from "@inertiajs/vue3"
import dayjs from "dayjs"
import utc from "dayjs/plugin/utc"
import { computed } from "vue"
import SavedCharacters from "/resources/js/Components/SavedCharacters.vue"

dayjs.extend(utc)

const props = computed(() => usePage().props)

const { appName, auth, status } = props.value
const now = dayjs.utc().format("HH:mm")

function linkClasses(active) {
    return [
        active ? "bg-teal-600" : "",
        "group flex w-full items-center rounded-md px-2 py-2 text-sm",
    ]
}
</script>

<template>
    <div class="flex w-full justify-between px-4 pb-32 pt-4">
        <div class="relative z-30 flex-col">
            <Link
                class="font-condensed text-2xl tracking-tight hover:no-underline md:text-5xl lg:text-6xl"
                :href="route('landing')"
            >
                <FontAwesomeIcon
                    icon="chess"
                    fixed-width
                />
                {{ appName }}
            </Link>
            <h3 class="text-xl md:text-2xl lg:text-3xl">
                <span class="inline-flex justify-between gap-x-2">
                    <span>{{ now }}</span>
                    <span>|</span>
                    <span class="flex">
                        <span
                            class="mr-1 mt-4 h-3 w-3 rounded-full bg-lime-400"
                        />
                        Tranquility
                    </span>
                </span>
                <span class="text-zinc-400">
                    ({{ status.players }} Players)
                </span>
            </h3>
        </div>
        <div class="relative z-30 flex justify-end align-top">
            <div
                v-if="auth.user"
                class="absolute inset-y-0 right-0 flex items-center gap-x-3 pr-2 sm:static sm:inset-auto sm:pr-0"
            >
                <SavedCharacters
                    v-if="auth.user.characters.length > 0"
                    :characters="auth.user.characters"
                />
                <Link
                    :href="route('login')"
                    v-else
                    class="text-white relative inline-flex items-center rounded-md border border-transparent bg-teal-600 px-4 py-2 text-sm font-medium shadow-xs hover:bg-teal-600 focus:outline-hidden focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 focus:ring-offset-zinc-800"
                >
                    <FontAwesomeIcon
                        icon="plus"
                        class="-ml-1 mr-2 h-5 w-5"
                        aria-hidden="true"
                    />
                    <span>Add Character</span>
                </Link>
                <Menu
                    as="div"
                    class="relative inline-block text-left"
                >
                    <div>
                        <MenuButton
                            class="inline-flex w-full justify-center rounded-md bg-black/20 px-4 py-2 text-sm font-medium text-white hover:bg-black/30 focus:outline-hidden focus-visible:ring-2 focus-visible:ring-white/75"
                        >
                            <span class="sr-only">Open user menu</span>
                            <FontAwesomeIcon
                                icon="bars"
                                size="2x"
                                fixed-width
                                aria-hidden="true"
                            />
                        </MenuButton>
                    </div>
                    <transition
                        enter-active-class="transition duration-100 ease-out"
                        enter-from-class="transform scale-95 opacity-0"
                        enter-to-class="transform scale-100 opacity-100"
                        leave-active-class="transition duration-75 ease-in"
                        leave-from-class="transform scale-100 opacity-100"
                        leave-to-class="transform scale-95 opacity-0"
                    >
                        <MenuItems
                            class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-zinc-100 rounded-md bg-zinc-700 shadow-lg ring-1 ring-black/5 focus:outline-hidden"
                        >
                            <div class="px-1 py-1">
                                <MenuItem v-slot="{ active }">
                                    <Link
                                        :href="route('characters.index')"
                                        :class="linkClasses(active)"
                                    >
                                        Character Management
                                    </Link>
                                </MenuItem>
                                <MenuItem v-slot="{ active }">
                                    <Link
                                        method="post"
                                        as="button"
                                        :href="route('logout')"
                                        :class="linkClasses(active)"
                                    >
                                        Sign out
                                    </Link>
                                </MenuItem>
                                <MenuItem
                                    v-if="auth.user.is_admin"
                                    v-slot="{ active }"
                                >
                                    <a
                                        :href="route('pulse', null, true)"
                                        :class="linkClasses(active)"
                                    >
                                        Laravel Pulse (APM)
                                    </a>
                                </MenuItem>
                            </div>
                        </MenuItems>
                    </transition>
                </Menu>
            </div>
        </div>
    </div>
</template>
