<script setup>
import { Link } from "@inertiajs/vue3"
import { computed } from "vue"

const props = defineProps({
    href: {
        type: String,
        required: true,
    },
    active: {
        type: Boolean,
    },
})

const classes = computed(() =>
    props.active
        ? "inline-flex items-center px-1 pt-1 border-b-2 border-teal-400 text-sm font-medium leading-5 text-zinc-900 focus:outline-hidden focus:border-teal-700 transition duration-150 ease-in-out"
        : "inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-zinc-500 hover:text-zinc-700 hover:border-zinc-300 focus:outline-hidden focus:text-zinc-700 focus:border-zinc-300 transition duration-150 ease-in-out",
)
</script>

<template>
    <Link
        :href="href"
        :class="classes"
    >
        <slot />
    </Link>
</template>
