<template>
    <button
        class="text-white inline-flex items-center rounded-md border border-transparent bg-zinc-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest transition duration-150 ease-in-out hover:bg-zinc-700 focus:bg-zinc-700 focus:outline-hidden focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 active:bg-zinc-900"
    >
        <slot />
    </button>
</template>
