<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { Link } from "@inertiajs/vue3"

defineProps({
    characters: Array,
})
</script>

<template>
    <div class="flex -space-x-2 overflow-hidden p-1">
        <Link
            v-for="character in characters"
            :href="route('characters.show', character.character_id)"
        >
            <img
                class="inline-block h-10 w-10 rounded-full"
                :class="{
                    'ring-2 ring-teal-500': route().current(
                        'characters.show',
                        character,
                    ),
                }"
                :src="`https://images.evetech.net/characters/${character.character_id}/portrait?size=64`"
                :alt="character"
            />
        </Link>
        <Link
            :href="route('login')"
            class="inline-block h-10 w-10 items-center rounded-full border border-transparent bg-teal-500 p-2 text-sm font-medium shadow-xs hover:bg-teal-700 focus:bg-teal-700 focus:outline-hidden"
            title="Add Character"
        >
            <FontAwesomeIcon
                icon="plus"
                class="h-5 w-5"
                aria-hidden="true"
            />
        </Link>
    </div>
</template>
