<script setup>
defineProps({
    type: {
        type: String,
        default: "button",
    },
})
</script>

<template>
    <button
        :type="type"
        class="inline-flex items-center rounded-md border border-zinc-300 bg-white px-4 py-2 text-xs font-semibold uppercase tracking-widest text-zinc-700 shadow-xs transition duration-150 ease-in-out hover:bg-zinc-50 focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25"
    >
        <slot />
    </button>
</template>
