<script setup>
import Card from "/resources/js/Components/Card.vue"
import SkillGroup from "/resources/js/Components/Skills/SkillGroup.vue"
import { rowspan } from "/resources/js/helpers.js"

const { section } = defineProps({
    section: Object,
    singleCard: { type: Boolean, default: false },
})
const sections = section.section.section
</script>

<template>
    <Card
        v-for="{ name, icons, subsections } in sections"
        :key="name"
        :heading="name"
        content-class="grid grid-cols-2 -m-6 pt-6"
        :class="rowspan(singleCard ? section.skills : section.skills[name])"
        :icons="icons"
    >
        <SkillGroup
            v-for="{
                name: subsectionName,
                icons: subsectionIcons,
            } in subsections"
            :key="`${name}-${subsectionName}`"
            :group-name="subsectionName"
            :skills="
                singleCard
                    ? section.skills[subsectionName]
                    : section.skills[name][subsectionName]
            "
            :icons="subsectionIcons"
        />
    </Card>
</template>
