<script setup>
import { onMounted, ref } from "vue"

const model = defineModel({
    type: String,
    required: true,
})

const input = ref(null)

onMounted(() => {
    if (input.value.hasAttribute("autofocus")) {
        input.value.focus()
    }
})

defineExpose({ focus: () => input.value.focus() })
</script>

<template>
    <input
        class="rounded-md border-zinc-300 text-zinc-900 shadow-xs focus:border-teal-500 focus:ring-teal-500"
        v-model="model"
        ref="input"
    />
</template>
