<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { Link } from "@inertiajs/vue3"
import Card from "/resources/js/Components/Card.vue"
import CardDeck from "/resources/js/Components/CardDeck.vue"
import CharacterInfo from "/resources/js/Components/CharacterInfo.vue"
import Banner from "/resources/js/Components/Shared/Banner.vue"
import Flash from "/resources/js/Components/Shared/Flash.vue"
import Foot from "/resources/js/Components/Shared/Foot.vue"
import CurrentSkill from "/resources/js/Components/Skills/CurrentSkill.vue"
import SkillSummary from "/resources/js/Components/Skills/SkillSummary.vue"

defineProps({
    characters: Array,
})
</script>

<template>
    <div class="flex flex-col">
        <Flash />
        <Banner />
        <div class="flex flex-col space-y-14">
            <CardDeck v-for="character in characters">
                <Card :icons="['user-astronaut']">
                    <CharacterInfo
                        #content
                        v-bind="{
                            character: character.character,
                            summary: character.summary,
                            skill: character.summary.currentSkill,
                        }"
                    />
                    <template #action>
                        <Link
                            :href="
                                route(
                                    'characters.destroy',
                                    character.character.attributes.character_id,
                                )
                            "
                            as="button"
                            method="delete"
                            class="absolute right-0 top-0 inline-block flex -translate-x-1/2 -translate-y-1/2 transform justify-between rounded-full bg-red-600 p-3 shadow-lg"
                        >
                            <FontAwesomeIcon
                                icon="recycle"
                                size="lg"
                                class="text-white align-middle"
                            />
                        </Link>
                    </template>
                </Card>
                <Card
                    class="hidden lg:block"
                    :icons="['trophy']"
                >
                    <SkillSummary
                        #content
                        v-bind="{ summary: character.summary }"
                    />
                </Card>
                <Card
                    class="hidden lg:block"
                    :icons="['stopwatch']"
                    content-class="py-4"
                >
                    <CurrentSkill
                        #content
                        v-bind="{ skill: character.summary.currentSkill }"
                    />
                </Card>
            </CardDeck>
        </div>
        <Foot />
    </div>
</template>
