<script setup>
import { Head } from "@inertiajs/vue3"
import InfoPanel from "../../Components/InfoPanel.vue"
import Card from "/resources/js/Components/Card.vue"
import CardDeck from "/resources/js/Components/CardDeck.vue"
import CharacterInfo from "/resources/js/Components/CharacterInfo.vue"
import Banner from "/resources/js/Components/Shared/Banner.vue"
import Flash from "/resources/js/Components/Shared/Flash.vue"
import Foot from "/resources/js/Components/Shared/Foot.vue"
import CurrentSkill from "/resources/js/Components/Skills/CurrentSkill.vue"
import SkillSummary from "/resources/js/Components/Skills/SkillSummary.vue"
import Skills from "/resources/js/Components/Skills/Skills.vue"

const props = defineProps({
    character: Object,
    summary: Object,
    skills: Object,
    sections: Array,
    stats: Array,
})
</script>

<template>
    <Head :title="character.attributes.character_name" />
    <div class="flex flex-col">
        <Flash />
        <Banner />
        <CardDeck class="mb-10">
            <Card :icons="['user-astronaut']">
                <CharacterInfo
                    #content
                    v-bind="{ character, summary, skill: summary.currentSkill }"
                />
                <InfoPanel :summary="summary" />
            </Card>
            <Card
                class="hidden lg:block"
                :icons="['trophy']"
            >
                <SkillSummary
                    #content
                    v-bind="{ summary }"
                />
            </Card>
            <Card
                class="hidden lg:block"
                :icons="['stopwatch']"
                content-class="py-4"
            >
                <CurrentSkill
                    #content
                    v-bind="{ skill: summary.currentSkill }"
                />
            </Card>
        </CardDeck>
        <Skills v-bind="{ skills, sections, stats }" />
        <Foot />
    </div>
</template>
