<script setup>
import bannerFallback from "/resources/images/www-academy-bg.jpg"
import bannerPreferred from "/resources/images/www-academy-bg.webp"
import Navbar from "/resources/js/Components/Navbar.vue"
</script>

<template>
    <header class="relative w-full bg-zinc-500 pb-16">
        <Navbar />
        <div class="absolute inset-0">
            <picture>
                <source
                    :srcset="bannerPreferred"
                    type="image/webp"
                    class="h-full w-full object-cover"
                />
                <img
                    :src="bannerFallback"
                    alt="Banner"
                    class="h-full w-full object-cover"
                />
            </picture>
            <div
                class="absolute inset-0 bg-zinc-500 mix-blend-multiply"
                aria-hidden="true"
            />
        </div>
    </header>
</template>
