<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { usePage } from "@inertiajs/vue3"
import { computed } from "vue"

const type = computed(() => usePage().props.flash?.type)
const message = computed(() => usePage().props.flash?.message)

const iconClass = computed(() => {
    switch (type.value) {
        case "success":
            return "check-circle"
        case "warning":
            return "triangle-exclamation"
        case "danger":
            return "times-circle"
        case "info":
            return "info-circle"
        default:
            throw `${type.value} category not implemented`
    }
})
</script>

<template>
    <div
        v-if="type && message"
        class="border-l-4 p-4"
        :class="{
            'border-green-400 bg-green-50': type === 'success',
            'border-yellow-400 bg-yellow-50': type === 'warning',
            'border-red-400 bg-red-50': type === 'danger',
            'border-blue-400 bg-blue-50': type === 'info',
        }"
    >
        <div class="flex">
            <div class="shrink-0">
                <FontAwesomeIcon
                    :icon="iconClass"
                    class="h-5 w-5"
                    :class="{
                        'text-green-400': type === 'success',
                        'text-yellow-400': type === 'warning',
                        'text-red-400': type === 'danger',
                        'text-blue-400': type === 'info',
                    }"
                    aria-hidden="true"
                />
            </div>
            <div class="ml-3">
                <p
                    class="text-sm"
                    :class="{
                        'text-green-700': type === 'success',
                        'text-yellow-700': type === 'warning',
                        'text-red-700': type === 'danger',
                        'text-blue-700': type === 'info',
                    }"
                >
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
</template>
