<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
</script>
<template>
    <footer class="shrink">
        <div
            class="mx-auto max-w-7xl overflow-hidden px-4 py-12 sm:px-6 lg:px-8"
        >
            <div class="mt-8 flex justify-center space-x-6">
                <a
                    href="https://gitlab.com/billypoke/esv_laravel"
                    target="_blank"
                    rel="noopener"
                    class="text-teal-400 hover:text-teal-700 hover:underline"
                >
                    <FontAwesomeIcon
                        :icon="['fab', 'gitlab']"
                        aria-hidden="true"
                    />
                    View the Source on GitLab
                </a>
            </div>
            <p class="mt-8 text-center text-base text-zinc-400">
                All EVE related materials are property of
                <a
                    href="https://www.ccpgames.com/"
                    target="_blank"
                    rel="noopener"
                    class="text-teal-400 hover:text-teal-700 hover:underline"
                >
                    CCP Games
                </a>
            </p>
        </div>
    </footer>
</template>
