<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { Link } from "@inertiajs/vue3"
import bannerFallback from "/resources/images/www-academy-bg.jpg"
import bannerPreferred from "/resources/images/www-academy-bg.webp"
import Card from "/resources/js/Components/Card.vue"
</script>

<template>
    <div
        class="flex min-h-screen flex-col items-center bg-zinc-900 pt-6 sm:justify-center sm:pt-0"
    >
        <div class="absolute inset-0">
            <picture>
                <source
                    :srcset="bannerPreferred"
                    type="image/webp"
                    class="h-full w-full object-cover"
                />
                <img
                    :src="bannerFallback"
                    alt="Banner"
                    class="h-full w-full object-cover"
                />
            </picture>
            <div
                class="absolute inset-0 bg-zinc-500 mix-blend-multiply"
                aria-hidden="true"
            />
        </div>
        <Card
            class="z-5 relative max-w-md"
            icon="chess"
        >
            <Link
                class="banner-link flex justify-center pb-4"
                :href="route('landing')"
            >
                <FontAwesomeIcon
                    icon="chess"
                    size="5x"
                    class="fill-current"
                    fixed-width
                />
            </Link>
            <slot />
        </Card>
    </div>
</template>
